@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.header {
  font-family: "Titan One", cursive;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow-container {
  position: relative;
  width: fit-content; /* Adjust as needed */
}

@keyframes arrowAnimation {
  0% {
    transform: translateX(0) rotate(0);
  }

  50% {
    transform: translateX(-10px) rotate(-15deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.animated-arrow {
  animation: arrowAnimation 4s infinite; /* Adjust the duration as needed */
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }



  50% {
    transform: translateY(-7px) rotate(1deg);
  }

  

}

@keyframes ping-slow {
  0%,
  100% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.005);
    
  }
}

.animate-moveUpDown {
  animation: moveUpDown 5s ease-in-out infinite;
}

.animate-ping-slow {
  animation: ping-slow 5s infinite;
}
